name: Terraform Apply

on:
  push:
    branches:
      - master

jobs:
  terraform-apply:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate to GCP
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > key.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=$PWD/key.json" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init
        working-directory: env/dev

      - name: Terraform Apply
        run: terraform apply -auto-approve -lock-timeout=5m
        working-directory: env/dev
