name: Terraform Apply

on:
  push:
    branches:
      - main

jobs:
  terraform-apply:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate to GCP
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > key.json
          export GOOGLE_APPLICATION_CREDENTIALS=key.json

      - name: Terraform Init
        run: terraform init
        working-directory: env/dev

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: env/dev
